[Unit]
Description=Fusuma - gesture detection

[Service]
ExecStart=/home/kalior/.local/share/gem/ruby/3.0.0/bin/fusuma &> 
LogLevelMax=3

[Install]
WantedBy=default.target
