[Unit]
Description=A lightweight overlay volume/backlight/progress/anything bar for Wayland
Documentation=man:wob(1)
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
StandardInput=socket
ExecStart=/usr/bin/wob -a bottom -a right --bar-color #F4E9B2FF --border-color #FFFFFF66 --border 1 --padding 5 --margin 2 --background-color #241E20F2 --offset 0 

[Install]
WantedBy=graphical-session.target

